workDir = '/allen/programs/mindscope/workgroups/openscope/tmp'

process {
    executor = 'slurm'
    queue = 'braintv'
    nodes = 1
    singularity.enabled = true
    cpusPerTask = 1
    memory = '2 GB'
    time = '7:00:00'
    errorStrategy = 'retry'
    retries = 3
    retryIn = '10m'
    maxForks = 100
    container.cache = true
}

singularity {
    enabled = true
    singularity.cacheDir = '/allen/programs/mindscope/workgroups/openscope/environment/singularity/'	
}
